services:
  crud_sqlite:
    image: keinos/sqlite3:latest
    container_name: crud_sqlite
    entrypoint: ["/bin/sh", "/usr/local/bin/init-sqlite.sh"]
    restart: unless-stopped
    user: "0:0"
    environment:
      - SQLITE_DB_PATH=/root/db/database.db
    volumes:
      - ./sqlite:/root/db
      - ./bd:/docker-entrypoint-initdb.d:ro
      - ./scripts/init-sqlite.sh:/usr/local/bin/init-sqlite.sh:ro
    networks:
      - crud_net

  crud_backend:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: crud_backend
    environment:
      NODE_ENV: production
      FASTIFY_PORT: ${FASTIFY_PORT}
      FASTIFY_HOST: ${FASTIFY_HOST}
      DB_PATH: ${DB_PATH}
    ports:
      - "${FASTIFY_PORT}:${FASTIFY_PORT}"
    volumes:
      - ./sqlite:/app/sqlite
    depends_on:
      - crud_sqlite
    networks:
      - crud_net

networks:
  crud_net:
    driver: bridge